.container
  .page-header
    %h2 Providers
  .locationsResult
    - if @locations.blank?
      Your search did not return anything!
    - else
      - @locations.each do |location|
        .row
          .col-md-2
            = location.distance_from(current_user).round(2)
            mi
          .col-md-6
            = link_to location.name, location
          %br
