.container
  .serviceFind
    %h3 What kind of service?
    = form_tag search_path, method: :post do
      .form-group
        = select_tag 'services', service_options, multiple: true, class: :'tokenize-sample tokenize', id: :'tokenize'
      %h3 What kind of specialization?
      .form-group
        = select_tag 'specialization', specialization_options, multiple: true, class: :"tokenize-sample tokenize"
      .form-group

      = image_submit_tag("white_arrow.png", class: :'white_arrow')
