/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require mapbox
 *= require jquery-ui
 *= depend_on_asset "layers.png"
 *= depend_on_asset "layers-2x.png"
 */

@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: #34D1CE;
}

.navbar-brand {
  padding: 0px !important;
}
.headerInfo {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 100;
    .btn {
      opacity: 0.8;
    }
}

.carousel {
  height: 700px;
  overflow: hidden;
}
.locationsResult{
  .row {
    // padding: 1%;
  }
  .row:hover
  {
    background-color:rgba(255, 255, 255, .75);
    color: #34D1CE;
    border-radius: 50px;
    a {
      text-decoration: none;
      color:inherit;
    }
  }
}

.navbar-default .navbar-toggle {
  border-color: unset !important;
}

#custom-nav {
    color: white !important;
    border: 0;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.tokenize {
  color: black;
}

input, select, textarea{
    color: black !important;
}
.navbar-toggle {
  background-color: white !important;
}

body {
  background: linear-gradient(#37A4A3, #468A95) fixed;
  color: white !important;
}

.tokenize-sample {
    width: 500px;
    height: 30px;
}
