/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require mapbox
 *= require jquery-ui
 *= depend_on_asset "layers.png"
 *= depend_on_asset "layers-2x.png"
 */

@import "bootstrap-sprockets";
@import "bootstrap";
a {
  color: #dcff1c;
}

.heart{
  display: block;
  max-width: 100px !important;
  max-height: 150px !important;
  width: auto !important;
  height: auto !important;
  margin-top: -25px !important;
}
.salud {
  display: block;
  max-width: 100px !important;
  max-height: 100px !important;
  width: auto !important;
  height: auto !important;
  margin-top: 16px !important;
  margin-left: -30px !important;
}
#map {
  border-radius: 6px;
}
.field {
  padding-top: 10px;
}

textarea {
  opacity: .75;
  border-radius: 6px;
  width: 30%;
  border-width: 0px;
}
input {
  opacity: .75;
  border-radius: 6px;
  width: 30%;
}
.editProfile {
  text-align: center;
  font-size: 18px;
}
th{
  font-size: 18px;
}
tr{
  font-size: 18px;
}

h1 {
  font-weight: 200 !important;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36px;

}
.map {
  float:right;
}
.providerInfo{
  position: relative;
  width: 500px;
  font-size: 18px;
  float:left;
}
td {
  img {
    width: 15%;
  }
}
.white_arrow{
  width: 5%;
  opacity: 1;
}
.TokensContainer {
  opacity: .75;
  border-radius: 6px;
}
.serviceFind{
  padding-top: 7%;
  text-align: center;
  h3 {
    font-weight: 200;
  }
}
.btn-default {
  opacity: 0.8;
}

.navbar-brand {
  padding: 0px !important;
}
.headerInfo {
    img {
      width: 5%;
    }
    h1 {
      font-size: 72px;
      font-weight: 200;
    }
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    z-index: 100;
}

.carousel {
  height: 700px;
  overflow: hidden;
}
.locationsResult{
  .row {
    // padding: 1%;
  }
  .row:hover
  {
    background-color:rgba(255, 255, 255, .75);
    color: #34D1CE;
    border-radius: 50px;
    a {
      text-decoration: none;
      color:inherit;
    }
  }
}

.navbar-default .navbar-toggle {
  border-color: unset !important;
}

#custom-nav {
    color: white !important;
    border: 0;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.tokenize {
  color: black;
}

input, select, textarea{
    color: black !important;
}
.navbar-toggle {
  background-color: white !important;
}

body {
  font-weight: 200;
  background: linear-gradient(#37A4A3, #468A95) fixed;
  color: white !important;
}

.tokenize-sample {
    width: 500px;
    height: 30px;
}

@media(max-width:767px){
   /*mobile*/
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    max-width: none !important;
  }
  .TokensContainer {
    overflow: auto !important;
    width: 70%;
  }

  .form-group {
    margin-bottom: 90px !important;
  }
  .providerInfo{
    float: unset;
  }
  .map{
    float: unset;
  }
 }
