.container
  .row
    .appointments
      %h1 Your Preferred Times
      .appointmentInfo
        %table.table.table-responsive
          %thead
            %tr
              %th Clinic name
              %th Days
              %th Time of day
              %th

          %tbody
            - @appointments.each do |appointment|
              %tr
                %td= appointment.clinic_name
                %td= appointment.days
                %td= appointment.time_of_day
                %td= link_to image_tag("white_arrow.png"), appointment, class: :'white_arrow'
    #map



:javascript
  L.mapbox.accessToken = 'pk.eyJ1IjoiYW1waGl0aGVyZSIsImEiOiIyZGE2MWJhYTdlNjJkM2E4NTZhYjUyODE3NDFmNzY3MSJ9.EDkcexR3h8zGfuPOXADctQ';
  var map = L.mapbox.map('map', 'mapbox.streets')
      .setView([40, -74.50], 9);
